#bmi-calculator{
    width: 1000px;
    background-color: #e3e9f2;
    text-align: center;
    padding: 4em;
    border-radius: 6px;
  
}
 .form-group{
 text-align:center;
 padding: -top-default;
 }
 