<div class="form-group">
  <h1>Temperature Unit Convertor</h1>
  <p><label for="celsius">Celsius </label><br/>
  <input class ="form-control" id="c" onkeyup= "checkId(id)" placeholder="Enter a number">
  </p>  

  <p><label for="Fahrenheit">Fahrenheit </label><br />
  <input class ="form-control" id="f" onkeyup= "checkId(id)" placeholder="Enter a number">
  </p> 
 <!-- <button type="submit" class="btn btn-primary" onclick="converts()">convert</button>-->
  
  <button type="button" onclick="converts()">convert</button>
  <h4>Total conversion: </h4>
</div>



 